.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/application/__pycache__
/application/controller/__pycache__
/application/models/__pycache__
/application/route/__pycache__
/application/utility/__pycache__
/venv
/env
*.pyc
*__pycache__
__pycache__/
*.py[cod]
anrari.conf
*anrari.conf